<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339067866362-u4dcvebtn8i5gfdufrunb0fleh2gdtr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339067866362-u4dcvebtn8i5gfdufrunb0fleh2gdtr8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>339067866362-55t9f01qc02el8cpd5nq24h2ejfm4v4q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhdeagjJn289XDOPBokDUAFaj2LWZrc6c</string>
	<key>GCM_SENDER_ID</key>
	<string>339067866362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vendiApp</string>
	<key>PROJECT_ID</key>
	<string>vendimaps-371008</string>
	<key>STORAGE_BUCKET</key>
	<string>vendimaps-371008.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339067866362:ios:1ee7cb85185be6bf7acd43</string>
	<key>DATABASE_URL</key>
	<string>https://vendimaps-371008-default-rtdb.firebaseio.com</string>
</dict>
</plist>